header
  nav.navbar.navbar-dark.bg-dark.shadow-sm
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center(href='/')
        strong University Allrounder
        a(href = '/' style='color:white') UAR
        a(href = '/api/events' style='color:white') Events
        a(href = '/api/items' style='color:white') Canteen
        a(href = '/logout' style='color:white') Logout
