body{
	background-color: #838383;
}
#navigation .nav-link{
	font-weight: bold;
	color: #FFFFFF;
}
.navbar-dark{
	background-color: #000;
}
#navigation .nav-link:hover {
    background-color: #000;
    color: #ffffff;
}
.container{
	margin-top: 20px;
}
#photo{
	text-align: center;
}
#menu{
	color: #FFFFFF;
	font-style: italic;
	font-weight: bolder;
	text-align: center;
	padding: 40px;
}
ul{
	list-style-type: none;

}
h1{
	color: #000;
}
#lunch{
	margin-top: 30px;
}
#snacks{
	margin-top: 30px;
}
#photo{
	width: 100%;
}
