extends layout.pug
include mixins/events_card

block content
    .d-flex.justify-content-center.mt-3
        h1 Events
    .contain
      if flag
        a.btn.btn-primary(href='events/add' style='margin-left:10em;') create
    .album.py-5
      .container
        .row
          each event in events
            +thumbCard(event)

    script(src='js/delete.js')
