extends layout.pug

block content
			section.jumbotron
				.container.bg-dark
					br
					.card(style='background-color:#429E9D;')
						h5.card-header.info-color.white-text.text-center.py-4
							strong Fill Event details
					.card-body.px-lg-5.pt-0
						form.text-center.p-4(style='color: #e3ff00;' method='POST' action='#')
							.form-group.mt-3
								label.title Name
								input.form-control#title(type='text' name='name')
							br
							.md-form
								label.desc Description
								input.form-control#desc(type='textarea' name='description')
							br
							.form-group
								label.status Date
								br
								input.form-control(type='text' name='date')


							button.btn.btn-primary.btn.mt-4(type="submit") Create
