<div class="canteen">
    <h3 align="center">
        One Stop Application for University Students.
    </h3>
    <div class="sections">
    <div class="row">
    <div class="col-sm-4 col-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Explore the Canteen</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, magni!</p>
          <a routerLink="/testing" class="btn btn-primary">Go there!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Events</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, vero?</p>
              <a href="/ranking" class="btn btn-primary">Go there!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Lost/Found</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, optio.</p>
                  <a href="/lostfound" class="btn btn-primary">Go there!</a>
                </div>
              </div>
            </div>
    </div>
</div>
</div>